﻿@using Pressford.News.DomainModel.Entities
@{
    ViewBag.Title = "Articles";
}

@if (ViewBag.UserRole == UserRoles.Publisher)
{
    <ul class="list-group">
        <li class="list-group-item"><a href="@Url.Action("Create", "Articles")" class="btn btn-primary">Create Article</a></li>
    </ul>
}

<div ng-include="'/AngularApp/Articles/listArticlesView.html'"></div>

@section scripts
{
    <script src="~/AngularApp/Common/articleResource.js"></script>
    <script src="~/AngularApp/Common/likeArticleResource.js"></script>
    <script src="~/AngularApp/Articles/listArticlesCtrl.js"></script>
    <script src="~/AngularApp/Articles/viewArticleCtrl.js"></script>
    <script src="~/AngularApp/Articles/likeStatisticsCtrl.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script type="text/javascript">
        var pressford = pressford || {};
        pressford.userRole = "@ViewBag.UserRole";
    </script>
}
