﻿<form class="form-horizontal" ng-controller="CreateArticleCtrl as vm" novalidate name="articleForm">
    <div class="form-group" ng-class="{'has-error': articleForm.inputTitle.$invalid && articleForm.inputTitle.$dirty}">
        <label for="inputTitle" class="col-sm-1 control-label">Title</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="Title" ng-model="vm.article.title" required ng-minlength="4">
        </div>
        <span class="help-block text-danger">
            <span ng-show="articleForm.inputTitle.$error.required">
                Title Required
            </span>
            <span ng-show="articleForm.inputTitle.$error.minlength">
                Title Minimum Length is 4 Characters
            </span>
        </span>
    </div>
    <div class="form-group" ng-class="{'has-error': articleForm.inputAuthor.$invalid && articleForm.inputAuthor.$dirty}">
        <label for="inputAuthor" class="col-sm-1 control-label">Author</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputAuthor" name="inputAuthor" placeholder="Author" ng-model="vm.article.author" required ng-minlength="4">
        </div>
        <span class="help-block text-danger">
            <span ng-show="articleForm.inputAuthor.$error.required">
                Author Required
            </span>
            <span ng-show="articleForm.inputAuthor.$error.minlength">
                Author Minimum Length is 4 Characters
            </span>
        </span>
    </div>
    <div class="form-group" ng-class="{'has-error': articleForm.textAreaBody.$invalid && articleForm.textAreaBody.$dirty}">
        <label for="textAreaBody" class="col-sm-1 control-label">Body</label>
        <div class="col-sm-9">
            <textarea type="text" class="form-control" id="textAreaBody" name="textAreaBody" placeholder="Body" rows="5" ng-model="vm.article.body" required ng-minlength="20"></textarea>
        </div>
        <span class="help-block text-danger">
            <span ng-show="articleForm.textAreaBody.$error.required">
                Body Required
            </span>
            <span ng-show="articleForm.textAreaBody.$error.minlength">
                Body Minimum Length is 20 Characters
            </span>
        </span>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <button class="btn btn-primary pull-right" ng-click="vm.submit()" ng-disabled="articleForm.$invalid">Save</button>
            <button class="btn btn-danger pull-right" style="margin-right: 5px" ng-click="vm.cancel(articleForm)">Cancel</button>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-info col-sm-offset-1 col-sm-9" role="alert" ng-show="vm.message.length > 0"><span ng-bind="vm.message"></span></div>
    </div>
</form>
