﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="vm.close()">&times;</span></button>
    <h3 class="modal-title" ng-bind="::vm.article.title + ' - Likes last 30 days'"></h3>
    <em>By {{::vm.article.author}}</em>
</div>
<div class="modal-body">
    <canvas id="statsChart"></canvas>
</div>
<div class="modal-footer">
    <div class="form-group col-sm-12 align-right">
        <button type="submit" class="btn btn-primary" ng-click="vm.close()">Close</button>
    </div>
</div>