﻿<table class="table table-striped" ng-controller="ListArticlesCtrl as vm">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Likes</th>
            <th>Date Published</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="article in vm.articles track by $id(article)">
            <td ng-bind="article.title"></td>
            <td ng-bind="article.author"></td>
            <td ng-bind="article.publisher"></td>
            <td ng-bind="article.likeCount"></td>
            <td ng-bind="article.publishDate | date:'dd/MM/yyyy'"></td>
            <td>
                <a href="#" ng-click="vm.viewArticle(article, $event)">View</a>&nbsp;
                <a href="#" ng-click="vm.viewLikeStatistics(article, $event)">Like Statistics</a>
            </td>
        </tr>
    </tbody>
</table>