﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="vm.close()">&times;</span></button>
    <h3 class="modal-title" ng-bind="::vm.article.title"></h3>
    <em>By {{::vm.article.author}}</em>
</div>
<div class="modal-body">
    <span ng-bind="vm.article.body"></span>
</div>
<div class="modal-footer">
    <div class="form-group col-sm-12 align-right">
        <button type="submit" class="btn btn-default" ng-show="vm.userRole === 'Employee'" ng-click="vm.like($event)">Like</button>
        <button type="submit" class="btn btn-primary" ng-click="vm.close()">Close</button>
    </div>
</div>