﻿@{
    ViewBag.Title = "Create Article";
}

<div ng-include="'/AngularApp/Articles/createView.html'"></div>

@section scripts
{
    <script src="~/AngularApp/Common/articleResource.js"></script>
    <script src="~/AngularApp/Articles/createArticleCtrl.js"></script>
}
