﻿@using Pressford.News.DomainModel.Entities
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;Pressford Consulting</a>
        </div>
        @if (ViewBag.IsAuthenticated)
        {
             using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
             {
                 <div id="menuBar" class="collapse navbar-collapse">
                     <ul class="nav navbar-nav">
                         <li class="active"><a href="@Url.Action("Index","Home")">Articles</a></li>
                         <li><a href="@Url.Action("Index", "Statistics")">Statistics</a></li>
                         @if (ViewBag.UserRole == UserRoles.Administrator)
                         {
                             <li><a href="@Url.Action("Index", "Administration")">Administration</a></li>
                         }
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                         <li class="dropdown">
                             <a href="#" id="userDisplayName" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.UserDisplayName<span class="caret"></span></a>
                             <ul class="dropdown-menu">
                                 <li><a href="@Url.Action("MyProfile","Account")">My Profile</a></li>
                                 <li role="separator" class="divider"></li>
                                 <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
                             </ul>
                         </li>
                     </ul>
                 </div>
             }
        }
    </div>
</div>